
<h3>Name: <%= @application.name %></h3>
<p>Application status: <%= @application.application_status %></p>
<br>
Address
<p><%= @application.street_address %></p>
<p><%= @application.city %>, <%= @application.state %>, <%= @application.zip_code %></p>
<p>Pets names: <%= @app %></p>

<% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <br>
  <br>
<% end %>

<% if !@application.pets.empty? && @application.application_status == "In Progress"%>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
    <h4>Why I would make a good owner for these pet(s)?</h4>
    <%= f.label :qualities %>
    <br>
    <%= f.text_area :qualities %>
    <%= f.hidden_field :application_status, :value => "Pending" %>
    <br>
    <%= f.submit "Submit Application" %>
  <% end %>
<% end %>

<% if @application.application_status == "In Progress" %>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <h4><%= f.label :search %></h4>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>

  <% @pets.each do |pet| %>
    <h3><%= pet.name %></h3>
    <p>Age: <%= pet.age %></p>
    <p>Breed: <%= pet.breed %></p>
    <p>Adoptable: </p>
    <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
      <%= f.hidden_field :pet_id, :value => "#{pet.id}" %>
      <%= f.submit "Add pet to application" %>
    <% end %>
  <% end %>
<% end %>
